

.reveal .my-callout {
  background: #FFE3A6;
  border-left: 16px solid #560F11;
  padding: 0.75rem 1rem;
  border-radius: 16px;
}



/* Hide logo + footer on title slide
.reveal .title-slide .slide-footer,
.reveal .title-slide .slide-logo {
  display: none !important;
}*/


.reveal .slide-number > a[href*='title-slide'] {
  display: none;
}

.v-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}
